<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <label for="loginEmail">Email address</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      #campoEmail="ngModel"
      required
    />
    <app-message *ngIf="campoEmail.touched && campoEmail.invalid" message="User required"></app-message>
  </div>
  <div class="form-group">
    <label for="loginPassword">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      #campoPassword="ngModel"
      required
    />
    <app-message *ngIf="campoPassword.touched && campoPassword.invalid" message="Password required"></app-message>
  </div>
  <div class="d-grid mt-2">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
  </div>
</form>

<p>Not a user? <a [routerLink]="['new-user']">Register</a></p>
